* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
}


body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

img {
    max-width: 100vw;
    max-height: 100vh;
  }
  